cufflinks==0.17.3
ipywidgets==8.1.3
matplotlib==3.7.1
nbformat==5.8.0
numpy==1.24.3
pandas==2.2.2
plotly==5.22.0
scipy==1.13.1
seaborn==0.13.2
starterkits @ git+https://github.com/EluciDATALab/elucidatalab.starterkits.git
statsmodels==0.14.0
tqdm==4.66.4