starterkits @ git+https://github.com/EluciDATALab/elucidatalab.starterkits.git
statsmodels==0.13.5
requests==2.28.2
tqdm==4.65.0
ipypb==0.5.2
ipywidgets==8.0.4
cufflinks==0.17.3
geographiclib==2.0
nbformat==5.7.3
