# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

dash=2.3.1
dash-bootstrap-components=1.0.0
# dash-bootsrap-components=0.13.1
dash-core-components=2.0.0
dash-html-components=2.0.0
dash-renderer=0.20.0
dash-table=5.0.0
holidays=0.13
ipykernel=5.5.5
ipython=8.3.0
ipywidgets=7.7.0
joblib=1.1.0
jupyter-dash
jupyter_client=7.3.0
jupyter_core=4.9.2
jupyter_server=1.17.0
jupyterlab=3.3.4
matplotlib=3.5.1
numpy=1.21.5
pandas=1.4.2
plotly=5.7.0
python=3.9.12
scikit-learn=1.0.2
scipy=1.8.0
seaborn=0.11.2
tqdm=4.64.0
holidays
cufflinks
